
body {
    background-color: rgb(250,250,250);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
textarea {
    outline: none;
    border: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: none;
}






ion-icon {
    font-size: 24px;
}

button {
    padding: 0px;
    border: none;
    background: none;
    margin: none;
    cursor: pointer;
}









.top-bar {

    position:fixed;
    top:0;
    left:0;
    width:100%;

    height: 59px;
    color: none;
    background-color: white;
    border-bottom: solid 1px #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;


    z-index: 5;
}

.tb-wrapper {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tb-left {
    display: flex;
    align-items:center;
    height: 22px;
}

.tb-left > * {
    margin-right: 12px;
}

.tb-right {
    display: flex;
    align-items: center;
}
.tb-right button {
    margin-left: 24px;
}

.spacer {
    width: 0px;
    height: 100%;
    border-left: 1px solid #DBDBDB;
}

.logo-img {
    position:relative;
    top: 2px;
}

.tb-center {
    width: 262px;
    flex: display;
    justify-content:stretch;
    align-items: center;
}

.search-bar {
    background: #efefef;
    border: none;
    border-radius: 8px;
    padding: 3px 16px;
    width: 230px;
    height: 30px;
    font-size: 14px;
}


.tb-right button {
    position: relative;
}

.new-msg {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: rgb(237, 73, 86);
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 2;
    top:-6px;
    right: -8px;
}

.liked {
    color: rgb(237, 73, 86);
}






.main {
    min-height: 500px;
    width: 935px;
    margin: 90px auto 50px auto;
    display: flex;
    justify-content: space-between;

}

.border-all {
    border: solid 1px #DBDBDB;
}

.content {
    width: 614px;
    min-height: 200px;
}


.stories{
    height: 116px;
    background-color: white;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    padding-left: 18px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;

}

.user-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    width: 66px;

}

.stories-circle {
    margin-bottom: 6px;
}

.stories-border {
    

    width: 62px;
    height: 62px;

    padding: 2px;
    
    border: none;

    border-radius: 50px;

    background: black;
}

.stories-white-border {
    
    width: 58px;
    height: 58px;
    padding: 2px;
    background-color: white;
    border-radius: 50px;
}

.stories-img {
    height: 58px;
    width: 58px;
    overflow: hidden;
    border-radius: 50px;
}

.stories-img img {
    height: 100%;
}

.bg-purple-grad {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.bg-green {
    background: rgb(16, 211, 103);
}





.stories-username {
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;

    width: 66px;

    text-overflow: ellipsis;
}



.stories-button {
    width: 45px;
    height: 45px;
    position: absolute;

    background: url("/media/ig-imgs.png");
    background-position-x: -244px;
    background-position-y: -107px;

    right: 8px;
}











.post{
    min-height: 500px;
    background-color: white;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 17px;
}

.post-top > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-user {
    font-weight: 600;
    font-size: 14px;
}
.post-user:hover {
    text-decoration: none;
}

.post-user-profile {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 16px;
}

.post > img {
    width: 100%;
}
.post-bottom {
    padding: 12px 17px;
}

.post-bottom > * {
    margin-bottom: 8px;
}

.post-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}


.post-options-left button {
    margin-right: 16px;
}


.post-likes {
    display: flex;
    align-items: center;
}

.post-likes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 10px;
}

.likes-text a {
    font-weight: 500;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment > * {
    display: flex;
}

.comment > div > * {
    display:inline;
    
}

.comment-user {
    margin-right: 5px;
    font-weight: 500;
}
.like-comment * {
    font-size: 18px;
}
.more-comments {
    color: rgb(142, 142, 142);
}
.post-timestamp {
    color: rgb(142, 142, 142);
    font-size: 10px;
    text-transform: uppercase;
}

.post-comment {
    padding: 12px 17px;
    border-top: 1px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content:start;
}

.comment-textarea {
    flex: 'flex-grow';
    flex-grow: 4;
    margin: 0 10px;

    resize: none;
    overflow: hidden;
    max-height: 100px;
    height: 20px;

}

.send-comment {
    color: #B2DFFC;
    font-weight: 600;
    transition: 0.3s;
}
.send-comment:hover {
    color: #0095f6;
}

.comment-link {
    color: #00376b;
}
.comment-link a {
    text-decoration: none;
}
.comment-link a:hover {
    cursor: pointer;
}

.post-video {
    width: 100%;
}










.side-bar {
    width: 293px;
    position: fixed;
    right: calc(50vw - 935px/2 - 8px);
}


.user-box {
    margin: 24px 0;
    display: flex;
    align-items: center;
    line-height: 16.41px;
}


.user-img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.user-texts {
    padding-left: 17px;
}
.username {
    font-weight: 500;
}
.username:hover {
    text-decoration: none;
}
.name {
    font-weight: 400;
    color: #8E8E8E;
}



.rec-box-sup {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 500;
}

.rec-text {
    color: #8E8E8E;
}

.rec-seeall:hover {
    text-decoration: none;
}


.spacer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendation {
    height: 32px;
    margin-bottom: 16px;
}

.recom-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.recom-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.recom-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recom-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 11px;
    height: 100%;
}

.recom-username {
    font-weight: 500;
}


.recom-reason {
    font-size: 12px;
    color: #8E8E8E;
}

.recom-follow {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}
.recom-follow:hover {
    text-decoration: none;
}



.footnotes {
    margin-top: 33px;
}
.footnotes p {
    font-size: 11px;
    line-height: 17px;
    color: #C7C7C7;
    margin-bottom: 18px;
}






/*--------------------*/


.hide-full {
    display: none;
}

.show-full {
    display: inherit;
}


@media only screen and (max-width: 935px) {
    .tb-wrapper {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .main {
        width: 614px;
    }

    .search-bar {
        width: 100%;
    }

    .tb-center {
        flex-shrink: 2;
        margin: 0 40px 0 20px;
    }



    .hide-tablet {
        display: none;
    }

    .show-tablet {
        display: inherit;
    }
}


@media only screen and (max-width: 614px) {

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: inherit;
    }

    .top-bar{
        height: 44px;    
    }

    .stories {
        background-color: rgb(250,250,250);
        border-radius: 0px;
        margin-bottom: 0px;
        height: 121px;
    }
    
    .main {
        margin-top: 44px;
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .post {
        border-radius: 0px;
        border: none;
        margin-bottom: 30px;
    }

    .tb-center {
        width: auto;
        margin: 0;
    }

    .post-comment {
        display: none;
    }


    
    .bottom-bar {
        
        position:fixed;
        bottom:0;
        left:0;
        width:100%;

        height: 44px;
        color: none;
        background-color: white;
        border-top: solid 1px #DBDBDB;
        display: flex;

        align-items: center;
        justify-content: space-around;


        z-index: 5;
        
    }

    body {
        background-color: white;
    }


}